.stock {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
  }
  
  .buy-button, .sell-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .buy-button:hover, .sell-button:hover {
    background-color: #45a049;
  }
  .buy-stock {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .buy-stock input {
    width: 100px;
    margin-bottom: 10px;
  }
  
  .buy-stock button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .buy-stock button:hover {
    background-color: #45a049;
  }
  
  .root{
    /* background-image: url('./stock.jpg'); */
    background-color: #b4b0b091;
    background-size: cover;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buy-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .sell-button {
    background-color: #f44336;
    color: white;
  }
  
  .watchlist-button {
    background-color: #2196F3;
    color: white;
  }
  
  button i {
    margin-right: 5px;
  }
  